<body>

    <!-- Your Page Content -->

    <!-- Scripts at Bottom for Performance -->
     
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>

</body>
</html>
