<%- include("header.ejs")%>




   <div class="LoaderConatiner">
        <div class="LoaderConatinerAfter"></div>
        <div class="loader"></div>
        <div class="LoaderConatinerBefore"></div>
    </div>






    <% if (error && error.length> 0) { %>
    <div class="alert alert-danger custom-alert" id="auto-close-alert">
            <%= error[0] %>
    </div>
    <% } %>
    <% if (success && success.length> 0) { %>
    <div class="alert alert-success custom-alert" id="auto-close-alert">
                    <%= success[0] %>
    </div>
    <% } %>


<div  style="top: -56px;  overflow: hidden; " class="MyBG position-relative z-1">
<script type="module" src="https://unpkg.com/@splinetool/viewer@1.12.58/build/spline-viewer.js"></script>
<spline-viewer url="https://prod.spline.design/edaxXu65cIlijzjT/scene.splinecode"></spline-viewer>

        <div id="MainBtnGroup"  style="position: absolute;top: 0; bottom: 0;  height: 100vh; opacity: 0; " class=" text-center d-flex flex-column justify-content-center align-items-center p-3 me-3  ">

             <h1 class=" HomeTitle">Wellcome  at </br>Honesty platform</h1>
             <p  class="MainParagraph"  >Honesty allows you to receive constructive feedback from your friends and co-workers</p>




               <div class="MainBtnGroup ">
                <a href="/login"  class="btn mybtn-default-outline mx-3  py-2"><i
                        class="fas fa-user"></i> Login</a>


                <a href="/register"  class="btn mybtn-default-outline mx-3  py-2"><i
                        class="far fa-edit"></i> Register</a>

            </div>

        </div>

    </div>



<%- include("footer.ejs")%>